.btn {
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.25s;
}

.primary {
  background-color: var(--color-red--1);
  color: var(--color-light--3);
  padding: 1.2rem;
}

.primary:hover {
  background-color: var(--color-red--2);
}

.remove {
  color: var(--color-red--1);
}

.added {
  cursor: not-allowed;
  background-color: var(--color-red--2);
  color: var(--color-light--3);
  padding: 1.2rem;
}

.quantity {
  border: 1px solid var(--color-dark--0);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.quantity:hover {
  border: 1px solid var(--color-red--1);
  background-color: var(--color-red--1);
  color: var(--color-light--3);
}
