.header {
  border-bottom: 1px solid var(--color-light--2);
  background-color: var(--color-light--3);
  position: fixed;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-dark--0);
}
