.cartTable {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-bottom: 8rem;
}

.cartTable .header {
  font-weight: bold;
}

.cartTable .row {
  display: flex;
}

.cartTable .cell {
  flex: 1;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
