.loginForm input {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border: 1px solid var(--color-light--1);
}

.loginForm button {
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.5rem;
  border: none;
  background-color: var(--color-red--1);
  color: var(--color-light--3);
}
