.container {
  padding: 0 1.5rem;
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 2rem;
}
