@import 'https://unpkg.com/leaflet@1.9.3/dist/leaflet.css';
@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap';

:root {
  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;

  --color-light--1: #aaa;
  --color-light--2: #ececec;

  --color-red: #c80d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1.6rem;
  color: var(--color-dark--0);
  font-weight: 400;
  line-height: 1.6;
}

input,
textarea {
  font-family: inherit;
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 1.5rem;
}

.p-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.btn {
  background-color: transparent;
  border: 1px solid var(--color-dark--0);
  padding: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:not(:last-child) {
  margin-right: 1rem;
}

.btn:hover {
  background-color: var(--color-dark--0);
  color: var(--color-light--2);
}

.btn-amount {
  width: 1.8rem;
  height: 2.2rem;
}

.btn-remove {
  color: var(--color-red);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.red {
  color: var(--color-red);
}

.navbar {
  background-color: var(--color-dark--0);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}

.navbar a {
  color: var(--color-light--2);
  text-decoration: none;
}

.navbar .cart-badge {
  font-size: 1.2rem;
  display: block;
  position: absolute;
  top: -1rem;
  right: -0.4rem;
  min-width: 2.4rem;
  min-height: 2.4rem;
  background-color: var(--color-red);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.products .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 2rem;
}

.product-cart {
  flex: 0 0 calc(calc(100% / 4) - 1rem);
  text-align: center;
}

.product-cart img {
  height: 23rem;
  margin-bottom: 1rem;
}

.product-cart__details {
  margin-bottom: 1rem;
}

.cart-items {
  max-width: 55rem;
  margin: 0 auto;
  text-align: center;
}

.cart-items .item {
  position: relative;
  margin-top: 4rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 3rem;
  text-align: left;
}

.cart-items .item img {
  height: 17rem;
  display: block;
}

.cart-items .item .item__details {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.item-title {
  font-size: 2.2rem;
}

.item-amount input {
  width: 4rem;
  height: 2.2rem;
  text-align: center;
}

.cart-items .item .btn-remove {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.cart-summary {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
